* {
  box-sizing: border-box;
}
body {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  min-height: 150px;
  min-width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-color: white;
}
.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}
.hold {
  border: solid 5px #ccc;
}
.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
